<h1>Thoughts#index</h1>

<p>Hi <%= @current_user.username %></p>

<%= form_for @thought, url: post_thought_path do |f| %>
  <%= f.text_area :deep_thought %>
  <%= f.submit %>
<% end %>

<div class="thoughts">

  <ul>
    <% @thoughts.each do |thought| %>
      <li class="thought">
        <%= thought.deep_thought %>
        <br/>
        On <%= thought.created_at %> by <%= thought.user.username %>
      </li>
    <% end %>
  </ul>

</div>
